*{
     background-color: cadetblue;
     font-family: monospace;
     box-sizing:border-box;
}

header {
     display:flex;
     flex-wrap: wrap;
     align-items: center; 
     flex-direction: row;
     justify-content: space-between;
     padding: 17px 1% 18px 4%;
}

header h1 {
     font-size: 3.6vw;
     line-height: 1;
     margin: 0;
}

nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}

nav a {
     padding: 5px 10px;
     text-decoration: none;
     font-size: 1.0rem;
     transition: all 0.25s cubic-bezier(0.63, 0.23, 0.31, 1.15) 0s;
     color: #012f3c;
     margin-right: 15px;
}

nav a:hover {
     background-color: rgba(32, 44, 116, 0.3);
   }

.heroBanner {
display: flex;
justify-content: flex-end;
align-items: flex-end;
text-align: right;
min-height: 30vh;
background-image: url(../images/Hero_Banner_Background.jpg);
background-repeat: round;
padding: 2% 5%;
}

.heroBanner div {
     border: 5px solid #202c74;
     padding: 5px;  
}

#content {
     max-width: 83%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 75px;
}

.trabajo {
     margin: 25px 0;
     padding: 10px 0;
     display:flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: stretch;
     justify-content: space-between;
}

.trabajo > h3 {
     flex: 0 0 20%;
     text-align: right;
     font-size: 3vw;
     line-height: 2;
     padding-right: 25px;
     margin: 0;
     border-right: 4px solid #202c74;
}

.trabajo > div {
     flex: 0 0 75%;
}

.trabajo > p {
     margin:25px;
     line-height: 1.25;
     font-size: .7vw;
}

.myWorks {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}


.flex-item {
     border: 5px solid darkgrey;
     min-height: 150px;
     max-height: 150px;
     flex-basis: calc(50% - 1em);
     display:flex;
     align-items: flex-end;
     padding: 0 0 20px 0;
     margin: 0.5em;
     text-decoration: none;
     background-blend-mode: soft-light;
     background-size: cover;
     transition: all .5s;
     font-size: 0.7em;
     background-repeat: round;
}

.flex-item:first-child {
     min-height: 400px;
     flex-basis: 100%;
}

.flex-item div {
     opacity: .7;
}

.mainProject {
     background-image: url(../images/mern-stack.jpg);
     opacity: 0.7;
}

.secondProject {
     background-image: url(../images/LED-Wall.jpg);
     opacity: 0.7;
}

.thirdProject {
     background-image: url(../images/calculator.jpg);
     opacity: 0.7;
}

.fourthProject {
     background-image: url(../images/e-commerce.jpg);
     opacity: 0.7;
}

.fifthProject {
     background-image: url(../images/website.jpg);
     opacity: 0.7;
}

.flex-item:hover {
     background-color: rgba(255, 255, 255, 0.3);
     opacity: 1.0;
}

.flex-item h3 {
     font-size: 1.0rem;
}

#contact address {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     height: 100%;
}

#contact address a {
     color: #103039;
     padding: 5px;
     text-decoration: none;
     font-size: 1.3rem;
     font-style: normal;
     display: inline-block;
     margin: 0 0.2rem 0.1rem;
     transition: all 0.25s ease-in;
}

#contact address a:hover {
     background-color: rgba(32, 44, 116, 0.3);
}